<%= form_with model: @comment , url: comment_path, local: true do |form| %>
	<% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@comment.errors.count, "error") %> prohibited
        this comment from being saved:
      </h2>
      <ul>
        <% @comment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>	
	<p>
		<%= form.label :commenter %><br>
		<%= form.text_field :commenter%><br>
	</p>
	<p>
		<%= form.label :comment_Body %><br>
	    <%= form.text_area :body %>
	</p>
	<p>
		<%= form.submit%>
	</p>
<%end %>
<%= link_to 'show comment' , comment_path(@comment)%>
<%= link_to 'back' , article_path(@comment.article_id) %>
	